{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %} - Order Management System</title>
    <link type="text/css" rel="stylesheet" href="{% static 'libs/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'libs/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <script type="text/javascript" src="{% static 'libs/jquery-3.2.1/jquery-3.2.1.slim.min.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'libs/bootstrap-4.0.0-beta-dist/js/bootstrap.min.js' %}"></script> -->
    {% block style %}{% endblock style%}
    {% block head %}{% endblock head %}
</head>
<body id="{% block body_id %}{% endblock %}">
    <header id="header">
    </header>

    <div class="container">
        <div id="pageheader">
            {% block pageheader %}
            {% endblock pageheader %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <footer id="footer">
        Copyright &copy; {% now "Y" %}
    </footer>
</body>
</html>
