#header{
    background-color: #000;
    height: 75px;
    margin-bottom: 25px;
}

#footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px
}

table td.actions {
    border-left: none;
    text-align: right;
    white-space: nowrap;
}
