{% extends 'base.html' %}

{% block title %}Update Order{% endblock title %}
{% block pageheader %}
    <h3>Update Order</h3>
{% endblock pageheader %}

{% block content %}
    <form class="form-horizontal" method="post">{% csrf_token %} 
        {{ form.as_p }}
        <div class="form-actions btn-group">
            <input class="btn btn-primary btn-sm" type="submit" name="save" value="Save Changes" />
            <a class="btn btn-secondary btn-sm" href="{% url 'orders:order_list' %}">Cancel</a>
        </div>
    </form>
{% endblock content %}
