{% extends 'base.html' %}

{% block title %}Order Item List{% endblock title %}
{% block pageheader %}
    <h3>Order Item List</h3>
    <a href="{% url 'orders:orderitem_create' %}" class="btn btn-dark btn-sm float-sm-right"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Order Item</a>
{% endblock pageheader %}

{% block content %}
    {% if order_items %}
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Order #</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                {% for orderitem in order_items %}
                <tr>
                    <td>{{ orderitem.product }}</td>
                    <td>{{ orderitem.order }}</td>
                    <td>{{ orderitem.price }}</td>
                    <td>{{ orderitem.quantity }}</td>
                    <td class="actions">
                        <div class="btn btn-group">
                            <a href="{% url 'orders:orderitem_detail' orderitem.id %}" class="btn btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i></a> 
                            <a href="{% url 'orders:orderitem_update' orderitem.id %}" class="btn btn-danger btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
