{% extends 'base.html' %}

{% block title %}Order List{% endblock title %}
{% block pageheader %}
    <h3>Order List</h3>
    <a href="{% url 'orders:order_create' %}" class="btn btn-dark btn-sm float-sm-right"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Order</a>
{% endblock pageheader %}

{% block content %}
    {% if orders %}
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Customer</th>
                    <th>Ticket Number</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.ticket_number }}</td>
                    <td class="actions">
                        <div class="btn btn-group">
                            <a href="{% url 'orders:order_detail' order.id %}" class="btn btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i></a> 
                            <a href="{% url 'orders:order_update' order.id %}" class="btn btn-danger btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
