{% extends 'base.html' %}

{% block title %}Update Order Item{% endblock title %}
{% block pageheader %}
    <h3>Update Order Item</h3>
{% endblock pageheader %}


{% block content %}
    <form class="form-horizontal" method="post">{% csrf_token %} 
        {{ form.as_p }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" name="save" value="Save Changes" />
            <a class="btn" href="/orders/">Cancel</a>
        </div>
    </form>
{% endblock content %}

