{% extends 'base.html' %}

{% block title %}Order List{% endblock title %}
{% block pageheader %}
    <h3>Order Detail</h3>
{% endblock pageheader %}


{% block content %}
    <dl>
        <dt>Customer:<dt>
        <dd>{{ order.customer }}</dd>
        <dt>Collection Date:</dt>
        <dd>{{ order.collection_date }}</dd>
        <dt>Order Method:</dt>
        <dd>{{ order.method }}</dd>
        <dt>Order Status:</dt>
        <dd>{{ order.status }}</dd>
        <dt>Storage Location:</dt>
        <dd>{{ order.location }}</dd>
    </dl>
{% endblock content %}
