{% extends 'base.html' %}

{% block title %}Order Item Detail{% endblock title %}
{% block pageheader %}
    <h3>Order Item Detail</h3>
{% endblock pageheader %}


{% block content %}
    <dl>
        <dt>Product:<dt>
        <dd>{{ orderitem.product }}</dd>
        <dt>Price:</dt>
        <dd>{{ orderitem.price }}</dd>
        <dt>Order:</dt>
        <dd>{{ orderitem.order }}</dd>
        <dt>Quantity:</dt>
        <dd>{{ orderitem.quantity }}</dd>
        <dt>Order Date:</dt>
        <dd>{{ orderitem.order_date }}</dd>
    </dl>
{% endblock content %}
