{% extends 'base.html' %}

{% block title %}Customer List{% endblock title %}
{% block pageheader %}
    <h3>Customer List</h3>
    <a href="{% url 'customers:customer_create' %}" class="btn btn-dark btn-sm float-sm-right"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Customer</a>
{% endblock pageheader %}

{% block content %}
    {% if customers %}
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.email }}</td>
                    <td class="actions">
                        <div class="btn btn-group">
                            <a href="{% url 'customers:customer_detail' customer.id %}" class="btn btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i></a> 
                            <a href="{% url 'customers:customer_update' customer.id %}" class="btn btn-danger btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
