{% extends 'base.html' %}

{% block title %}Customer Detail{% endblock %}
{% block pageheader %}
    <h3>Customer Detail</h3>
{% endblock pageheader %}

{% block content %}
    <dl>
        <dt>Customer Name:</dt>
        <dd>{{ customer.name }}</dd>
        <dt>Customer Email:</dt>
        <dd>{{ customer.email }}</dd>
        <dt>Customer Phone Number:</dt>
        <dd>{{ customer.phone }}</dd>
    </dl>
{% endblock content %}
