{% extends 'base.html' %}

{% block title %}Product List{% endblock title %}
{% block pageheader %}
    <h3>Product List</h3>
    <a href="{% url 'products:product_create' %}" class="btn btn-dark btn-sm float-sm-right"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Product</a>
{% endblock pageheader %}

{% block content %}
    {% if products %}
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td class="actions">
                        <div class="btn btn-group">
                            <a href="{% url 'products:product_detail' product.id %}" class="btn btn-primary btn-sm"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="{% url 'products:product_update' product.id %}" class="btn btn-danger btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
