{% extends 'base.html' %}

{% block title %}Product Detail{% endblock %}
{% block pageheader %}
    <h3>Product Detail</h3>
{% endblock pageheader %}

{% block content %}
    <dl>
        <dt>Product Name:</dt>
        <dd>{{ product.name }}</dd>
        <dt>Product Price:</dt>
        <dd>{{ product.price }}</dd>
    </dl>
{% endblock content %}
